.container{
    display: flex;
}

.grid {
    max-width: 750px;
    padding-right: 12px;
    padding-top: 11px;
}

.newGridButton{
    height: 50px;
    width: 150px;
}
.sizeTextBox{
    height: 50px;
    width: 150px;
    margin-left: 12px;
}

.front {
    align-items: center;
    width: 700px;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #DCDCDC
}

